<li id="micropost-<%= entry.id %>">
  <span class="user"><%= link_to entry.user.name, entry.user %></span>
  <span class="content"><%= link_to entry.title, entry %></span>
  <span class="content"><%= entry.body %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(entry.created_at) %> ago.
    <% if current_user?(entry.user) %>
    <%= link_to "delete", entry, method: :delete, data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</li>

   <li>
      <% if entry.comments.any? %>
        <% @comments = entry.comments.paginate(page: params[:comment_page]) %>
        <h4>Comment (<%= entry.comments.count %>)</h4>
        <ol>
          <%= render @comments %>
        </ol>
        <%= will_paginate @comments, :param_name => 'comment_page' %>
      <% end %>
    </li>

  <% if logged_in? %>
  <li>
    <span class="comment">
      <% @comment = current_user.comments.build(content: params[:content])%>
      <% @comment.entry_id = entry.id%>
      <%= render 'shared/comment_form'%>
    </span>
  </li>
  <% end %>
